body{
	background: #e3e3e3;
	font-size: 14px;
}

/* **start BarndNav section** */
#BrandNab {
    background: #363436;
    opacity: 0.5;
    /* color: #fff; */
}
.logo {
    background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll 0 0;
    margin-top: 15px;
    padding-right: 75px;
    text-indent: -9999px;
}
.navbar {
    padding-top: 40px;
}
.navBack {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #DCD82C;
    background-color: transparent;
}

/* **end BarndNav section** */


/* **start Bannar section** */
#slider{
	background: url(../img/bannar.jpg)no-repeat;
}
.slider-overlay{
	width: 100%;
	background: rgba(0,0,0,0.5);
}
.title {
    padding-top: 275px;
    color: #fff;
}
.title h3 {
    font-size: 33px;
    font-style: italic;
    display: inline-block;
    margin-bottom: 0px;
}
.title h1 {
    font-size: 68px;
        margin-bottom: 50px;
    text-transform: uppercase;
}
.title .btn {
    background: #fed136;
    border: none;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.bottom_padding{
	padding-bottom: 160px;
}

/* **end Bannar section** */

/* **start Services section** */
#sercives{
	background: #fff;
}
.body_title {
    padding-top: 120px;
    padding-bottom: 79px;
}
.body_title h2{
	margin-top: 0;
	font-size: 40px;
	margin-bottom:20px;
	text-transform: uppercase;
	font-weight: bold;
}
.body_title h5{
	font-size: 16px;
	font-style: italic;
}
.gates {
    border: 4px solid #fed136;
    border-radius: 200px;
    display: inline-block;
    padding: 20px;
    margin-left: 110px;
}

.gates.text-center > img {
    height: 20px;
    width: 20px;
}
.gates_discripation{
	padding-bottom: 120px;
}
.gates_discripation h4{
	padding-top: 25px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 19px;
	font-size: 18px;
}
/* **end Services section** */




/* **start PortFolio section** */
#portfolio{
	background: #f7f7f7;
}
/* .portInfo{
    background: #fff;
} */




.item_discription {
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
   /*  margin-left: 10px;
   margin-right: 10px; */
}


.item_discription{
    margin:0;
    padding:30px 0;
}
.item_discription a{
    color:#000;
    font-style: italic;
}
.item_discription h4,h6{
    margin:0;
}
.item_discription h6{
    margin-top:5px;
}

.port_bottom{
    padding-top: 40px;
    padding-bottom: 120px;
}

/* **end PortFolio section** */

/* **start About section** */
.aboutBody{
    padding-bottom: 120px;
}
#AboutUs {
    background: #fff none repeat scroll 0 0;
}
.aboutBody{
    padding
}

.intotal {
    text-align: right;
    line-height: 22px;
}

.picture2{
    text-align: right;
}
.intotal2{
    text-align: left;
}
.item_bottom{
    padding-top: 90px;
}

.allContant{
    position: relative;
}
.comment {
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 64px;
    /* font-weight: bold; */
    display: inline-block;
}
.comment p {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
/* **end About section** */

/* **start Team section** */
.Team{
    padding-bottom: 120px;
}
#OurTeam{
    background:#f7f7f7; 
}

.teamPad{
    padding:0 72px;
}
.NameInfo{
    text-align: center;
}
.NameInfo h5,h6{
    font-size: 16px;

}
.NameInfo h6{
    font-size: 14px;

}
.NameInfo h5{
    font-weight: bold;    
}

.icon {
    padding-top: 15px;
    padding-bottom: 40px;
}
.cercile {
    border: 2px solid #000;
    border-radius: 200px;
    padding: 5px;
}
.size {
    width: 15px;
    height: 15px;
}

.team_dicr {
    text-align: center;
    font-size: 16px;
}
/* **end Team section** */

/* **start Social section** */
.S_site{
    padding:60px 0;
}
#socialSite{
    background:#fff;
}
.SocialBac{
    padding-left:82px;
    padding-right: 88px;
}
.social {
    text-align: center;
}

/* **end Social section** */

/* **start Contact section** */
#ContactUs{
    background: #222;
    position: relative;
}
.map {
    background: url(../img/map.png) no-repeat right bottom;
    position: absolute;
    top: 0;
    bottom: -45px;
    left: 0;
    right: 0;
}
.ContUs{
    padding-bottom: 114px;
}
.color{
    color:#fff;
}


.submit_form {
    text-align: center;
    padding: 20px;
}
.Sbtn {
    background: #fed136;
    border-color: transparent;
    padding: 25px 42px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.InsidPadi {
    padding: 30px 15px;
    color: #000;
    font-weight: bold;
}

/* **end Contact section** */

/* **start Footer section** */
#footer{
    background: #fff;
}
.copyright{
    padding-top: 30px;
    padding-bottom: 45px;
}
.copyright a{
    color:#000;
}
.fot_socila {
    padding-top: 35px;
    padding-left: 65px;
    padding-bottom: 20px;
}
.cercile a{
    color:#000;
}
/* **end Footer section** */
 @media (min-width: 320px) and (max-width: 767px) {
    

    .title{
        padding-top: 101px;
    }
    .portInfo{
    padding-top: 20px;
}
    .picture {
    text-align: center;
}
.picture2 {
    text-align: center;
}

.comment {
    bottom: 0;
    display: inline-block;
    left: 118px;
    position: absolute;
    right: 0;
    top: 56px;
}
.teamPad{
   padding:0;
   text-align: center;
}
.imgMember{
    padding-top: 10px;
}
.padBottom{
    padding-top: 20px;
}

.map {
    background: url(../img/map.png) no-repeat right bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fot_socila {
    padding-top: 0px;
    padding-left: 65px;
}
 }